.formulario-cadastro-ong{
    height: 680px;
    width: 600px;
    background-color: #1C4480;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
    row-gap: 60px;
    margin-top: 120px;
}

.conteudo-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.conteudo-direita{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 379px;
}

.conteudo-esquerda{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 379px;
    margin-left: 65px;
}

.botao-avancar{
    background-color: #07B3EA;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 50px;
    width: 150px;
    font-size: 22px;
    color: white;
    border-radius: 5px;
}

.config-botao-voltar {
    background-color: rgba(28, 68, 128, 1);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: rgba(126, 126, 126, 1);
    font-size: 25px;
    margin-top: 10px;
}

.sec-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.config-botao-voltar:hover{
    background-color: #315892;
    cursor: pointer;
}

.config-botao-voltar:active{
    background-color: #486ca1;
}

.botao-avancar:hover{
    background-color: #44bbe2;
    cursor: pointer;
}

.botao-avanca:active{
    background-color: #000000;
}

.imagem-botao-voltar{
    height: 40px;
    width: 40px;
}

h1{
    color: white;
    text-align: center;
    /* display: inline-block;  */
}

label{
    color: white;
}

input{
    height: 18px;
    border-radius: 3px;
}

#sec-1 header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 40px;
}

