.formulario-cadastro-ong{
    height: 650px;
    width: 600px;
    background-color: #1C4480;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 110px;
    margin-bottom: auto;
    border-radius: 10px;
}

.conteudo-direita{
    display: inline-block;
    margin-left: 50px;
    
    
}

.conteudo-esquerda{
    display: inline-block;
    margin-left: 160px;
    
}

.botao-avancar{
    background-color: #07B3EA;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    height: 50px;
    width: 150px;
    font-size: 22px;
    color: white;
    border-radius: 5px;
}

h1{
    text-align: center;
    color: white;
}