body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.formulario-cadastro-doador {
    background-color: rgba(28, 68, 128, 1);
    width: 639px;
    height: 790px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-botao-voltar{
    width: 639px;
    display: flex;
    
}

.config-botao-voltar {
    background-color: rgba(28, 68, 128, 1);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: rgba(126, 126, 126, 1);
    font-size: 25px;
}

.config-botao-voltar:hover {
    background-color: #315892;
    cursor: pointer;
}

.config-botao-voltar:active {
    background-color: #486ca1;
}

.imagem-botao-voltar {
    height: 40px;
    width: 40px;
}


.separador {
    border: 0;
    margin-top: 50px;
    border-top: 2px solid #ffffff;
    width: 100%;
}

.form-container button {
    width: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(7, 179, 234, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.form-container button:hover {
    background-color: #009acd;
}

.texto{
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 18px;
}
