body{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 45px;
}

input{
    height: 15px;
    padding: 5px;
    border-radius: 5px;
    
}

.header-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.formulario-cadastro-doador {
    background-color: rgba(28, 68, 128, 1);
    width: 639px;
    height: 790px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-botao-voltar{
    width: 639px;
    display: flex;
    
}

.config-botao-voltar {
    background-color: rgba(28, 68, 128, 1);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: rgba(126, 126, 126, 1);
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.config-botao-voltar:hover {
    background-color: #315892;
    cursor: pointer;
}

.config-botao-voltar:active {
    background-color: #486ca1;
}

.imagem-botao-voltar {
    height: 40px;
    width: 40px;
}


.separador {
    border: 0;
    margin-top: 10px;
    border-top: 2px solid #ffffff;
    width: 100%;
}

form > button {
    width: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(7, 179, 234, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

form > button:hover {
    background-color: #009acd;
}

.texto{
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 18px;
}

.picture__input{
    display: none;
}

.picture{
    width: 199px;
    height: 111px;
    background-color: #f0ffff;
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #95a0a0;
    border-radius: 10px;
    border: 2px dashed #95a0a0;
    cursor: pointer;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    overflow: hidden; 
}

.picture:hover{
    color: #676b6b;
    background-color: #bfc9c9;
}

.picture__image{
    max-width: 100%;
    height: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}