body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.cor-de-fundo{
    background-color: rgba(255, 252, 246, 1);
}

.formulario-login-doador{
    background-color: rgba(28, 68, 128, 1);
    width: 639px;
    height: 700px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    box-shadow: 2px 2px 2px 2px;
}

.imagem-formulario{
    width: 280px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.labels-inputs{
    text-align: left;
}

.linha-conteudo-form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    border: solid 1px white;
}

.texto{
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 18px;
}

.config-botao1{
    background-color: rgba(7, 179, 234, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 65px;
    border-radius: 5px;
    font-size: 33px;
}

.config-botao2{
    background-color: rgba(7, 179, 234, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px; 
}

.tamanho-div{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inputs{
    height: 28px;
    border-radius: 5px;
}

.body-centralizado {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
}

.config-botao-voltar {
    background-color: rgba(63, 63, 63, 1);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: rgba(126, 126, 126, 1);
    font-size: 25px;
    display: block;
    margin-left: 70px;
    margin-top: 20px;
}

.config-botao-voltar:hover{
    background-color: #555555;
    cursor: pointer;
}

.config-botao-voltar:active{
    background-color: #6B6B6B;
}

.imagem-botao-voltar{
    height: 40px;
    width: 40px;
}

.hover-botao:hover{
    background-color: #17BCF1;
    cursor: pointer;
}

.hover-botao:active{
    background-color: #56C6EA;
}