#login-select{
    padding: 0 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Kadwa", serif;
    color: white;
    background-color: #006cf8;
}

.cadastro-button{
    border: none;
    padding: 0 5px;
    margin: 20px 10px;
    border-radius: 5px;
    background-color: #07B3EA;
}

.cadastro-button a {
    font-size: 1rem;
    font-family: "Kadwa", serif;
}

.cadastro-button:hover{
    background-color: #56c2e6;
} 