html{
    font-family: "Inter", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

/* Header */
header {
    background-color: #1C4480;
    box-shadow: 0px 3px 10px #464646;
    font-family: "Kadwa", serif;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
}

input{
    height: 20px;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    margin-bottom: 5px;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.logo img{
    width: 100px;
}

#invisivel{
    visibility: hidden;
}


.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    column-gap: 2rem;
}

.nav-item{
    padding: 10px;
    font-size: 1.1rem;
}

.nav-item:hover{
    background-color: #315892;
    border-radius: 15px;
}

#login-select{
    padding: 0 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Kadwa", serif;
    color: white;
    background-color: #006cf8;
}

.cadastro-button{
    border: none;
    padding: 0 5px;
    margin: 20px 10px;
    border-radius: 5px;
    background-color: #07B3EA;
}

.cadastro-button a {
    font-size: 1rem;
    font-family: "Kadwa", serif;
}

.cadastro-button:hover{
    background-color: #56c2e6;
}

.sec-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-doar{
    background-color: #035715;
    color: white;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    margin-top: 25px;
    margin-right: 30px;
    margin-bottom: 25px;
}

.button-doar:hover{
    background-color: #25883a;
    cursor: pointer;
}

.button-doar:active{
    background-color: #4acc66;
}

.div1-sec-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div2-sec-1{
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 170px;
    width: 1350px;
}

.sec-2{
    display: flex;
    flex-direction: row;
}

.div-sec2{
    background-color: #D9D9D9;
    height: 150px;
    width: 300px;

}

.inputs-labels{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.img-ong{
    width: 125px;
    height: 125px;
    margin-left: 20px;
}

