@media screen and (max-width: 2770px){
    .formulario-login-doador{
        background-color: rgba(28, 68, 128, 1);
        width: 639px;
        height: 700px;
        border-radius: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        box-shadow: 2px 2px 2px 2px;
    }
}
