 #banner-sobre-nos{
    height: 345.8px;
    display:     block;
}


#banner-sobre-nos img{
    width: 100%;    
    position: fixed;
    z-index: -1;
}
#banner-sobre-nos p{
    font-family: "Azeret Mono", monospace;
    width: 300px;
    position: relative;
    font-size: x-large;
    text-align: center;
    left: 90px;
    top: 90px;
}