.cor-de-fundo{
    background-color: rgba(255, 252, 246, 1);
}

.formulario-login-doador{
    background-color: rgba(28, 68, 128, 1);
    width: 639px;
    height: 903px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.imagem-formulario{
    width: 280px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.conteudo-do-formulario{

}

.linha-conteudo-form{
    border: solid 1px white;
}

.texto{
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-style: normal;
    color: white      ;
}